<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
</head>
<style>
  * {
    font-family: sans-serif, MicroSoft YaHei;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 3em;
  }
  h1 {
    margin-bottom: 0.1em;
  }
  h1, span {
    text-align: center;
    vertical-align: middle;
  }
  .light {
    color: #bfbfbf;
  }
  .notice {
    margin-bottom: 1.2em;
  }
  .board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0em 0.15em;
    flex-wrap: wrap;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.2em;
    width: 5em;
  }

  .profile__avatar {
    width: 5em;
    height: 5em;
    background-position: center;
    background-size: contain;
    margin-bottom: 0.4em;
    border-radius: 2.5em;
  }

  .profile__avatar:hover {
    transform: rotate(666turn);
    transition-delay: 0.6s;
    transition-property: all;
    transition-duration: 59s;
    transition-timing-function: cubic-bezier(.34,0,.84,1);
  }

  .profile__info > span {
    display: block;
    font-size: 8px;
    width: 10em;
    line-height: 160%;
  }
</style>
<body>
  <h1><%= title %></h1>
  <span class="notice light"><%= notice %></span>
  <div class='board'>
    <% human.forEach(function(profile){ %>
    <div class="profile">
      <div class="profile__avatar" style="background-image: url(<%= profile.avator %>)"></div>
      <div class="profile__info light">
        <span><%= profile.nickname %></span>
        <span> <%= profile.city %> - <%= profile.field %></span>
      </div>
    </div>
    <% }); %>
  </div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-104604112-1', 'auto');
  ga('send', 'pageview');
</script>
</html>